In [9]:
import pandas as pd

# Load dataset (tab-separated)
df = pd.read_csv("Used_Car_Price_Prediction.csv", low_memory=False)

# Convert numeric fields
df["sale_price"] = pd.to_numeric(df["sale_price"], errors="coerce")
df["kms_run"] = pd.to_numeric(df["kms_run"], errors="coerce")

# Drop missing
df.dropna(subset=["sale_price", "kms_run"], inplace=True)

# Add conversion constants
INR_TO_USD = 0.012
KM_TO_MILES = 0.621371

# Add converted columns
df["sale_price_usd"] = (df["sale_price"] * INR_TO_USD).round(2)
df["miles_run"] = (df["kms_run"] * KM_TO_MILES).round(1)

print(df[["car_name", "sale_price", "sale_price_usd", "kms_run", "miles_run"]].head())

            car_name  sale_price  sale_price_usd  kms_run  miles_run
0       maruti swift      386399         4636.79     8063     5010.1
1    maruti alto 800      265499         3185.99    23104    14356.2
2  hyundai grand i10      477699         5732.39    23402    14541.3
3       maruti swift      307999         3695.99    39124    24310.5
4  hyundai grand i10      361499         4337.99    22116    13742.2

In [10]:
def recommend_by_budget_usd(df, budget_usd, top_n=10):
    filtered = df[df["sale_price_usd"] <= budget_usd]
    ranked = filtered.sort_values(
        by=["yr_mfr", "miles_run"], ascending=[False, True]
    )
    return ranked[["make", "model", "yr_mfr", "fuel_type", "miles_run", "sale_price_usd", "car_rating"]].head(top_n)

In [12]:
budget = float(input("Enter your max budget (USD): "))
print(recommend_by_budget_usd(df, budget))

Enter your max budget (USD):  15000

         make           model  yr_mfr fuel_type  miles_run  sale_price_usd  \
1460     tata           tiago    2021    petrol       37.3         6419.99
5619   maruti          ertiga    2021    petrol     3356.0        12725.98
6779  hyundai  grand i10 nios    2020    petrol      235.5         8170.79
5661   maruti            eeco    2020    petrol      465.4         6256.79
1494   toyota          glanza    2020    petrol      535.6        10719.59
2286  renault            kwid    2020    petrol      716.4         4060.79
5755   maruti            alto    2020    petrol      799.7         4839.59
5684   maruti            alto    2020    petrol      805.9         4441.19
5737   maruti           ignis    2020    petrol      984.3         5810.39
3789     tata           tiago    2020    petrol     1112.9         6099.59

     car_rating
1460      great
5619      great
6779      great
5661      great
1494      great
2286      great
5755      great
5684      great
5737      great
3789      great